body{
    background-color: aqua;
    background: linear-gradient(red, blue);
    background-attachment: fixed;
    margin: 0;
}

#form{
    width: 400px;
    margin: 10vh auto 0 auto;
    background-color: aliceblue;
    border-radius: 5px;
    padding: 30px;
}

h1{
    text-align: center;
    color: red;
}

#form button{
    background-color: blue;
    color: #fff;
    /* border: 1px solid red; */
    border-radius: 5px;
    margin: 20px 0px;
    cursor: pointer;
    font-size: 24px;
    width: 100%;
}

.input-group{
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

.input-group input{
    border-radius: 5px;
    font-size: 20px;
    margin-top: 4px;
    padding: 5px;
    border: 1px solid rgb(201, 201, 241);
}

.input-group input:focus{
    outline: 0;
}

.input-group .error{
    color: red;
    margin-top: 3px;
    font-size: 14px;
}

.input-group.success input{
    border-color: green;
}

.input-group.error input {
    border-color: red;
}
